<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>相册搜索结果</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<h2>相册搜索结果</h2>
<table class="table">
    <tr>
        <td>排序</td>
        <td>标题</td>
        <td>类别</td>
        <td>图片</td>
    </tr>
    {volist name="data" id="val"}
    <tr>
        <td>{$val.pid}</td>
        <td>{$val.title}</td>
        <td>{$val.class}</td>
        <td>
            <img src="/uploads/{$val.img}" alt="" width="100px" height="100px">
        </td>
    </tr>
    {/volist}
    <tr>
        <td>{$data->render()}</td>
    </tr>
</table>
</body>
</html>